<div>Blog Details</div>
<a href="/tables" align="left">Homepage</a>
<ul>
<%- @tables.each do |record|%>
    <li> NAME   :<label><%=record.name%></label> </li>
    cellno :<label><%=record.cellno%></label></br>
    <a href="/tables/<%= record.id %>/edit">Edit</a>
	||
    <a href="/tables/<%= record.id%>/delete">Delete</a>
	||
    <a href="/tables/<%= record.id%>/view">View</a>
	||
    <a href="/tables/<%= record.id%>/likes">likes</a>
<%end%>
</ul>

